/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500,600,700');

/* Helpers */

.text-center {
    text-align: center;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Hind Vadodara', sans-serif;
}

html {
    font-size: 18px;
    line-height: 27px
}

body {
    color: #5B6F82;
    font-size: 1rem;
    font-family: 'Hind Vadodara', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    clear: both;
    color: #202B36;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 700;
}

.button {
    display: inline-flex;
    font-size: 17px;
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 14px;
    text-decoration: none !important;
    background-color: #fff;
    color: #4992F0 !important;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    padding: 18px 32px;
    text-align: center;
    white-space: nowrap
}

.button:active {
    outline: 0
}

.button::before {
    border-radius: 2px
}

.button-shadow {
    position: relative
}

.button-shadow::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 8px 24px rgba(32, 43, 54, 0.12);
    mix-blend-mode: multiply;
    transition: box-shadow .15s ease
}

.button-shadow:hover::before {
    box-shadow: 0 8px 24px rgba(32, 43, 54, 0.25)
}

.button-blue,
.button-red,
.button-purple,
.button-green,
.button-black {
    color: #fff !important;
    transition: background .15s ease
}

.button-blue {
    background: #2e83ef;
    background: linear-gradient(65deg, #1274ED 0, #4992F0 100%);
}

.button-blue:hover {
    background: #3386ef;
    background: linear-gradient(65deg, #1777ed 0, #4e95f0 100%);
}

.button-blue.button-shadow::before {
    box-shadow: 0 8px 16px rgba(131, 139, 255, 0.25);
}

.button-blue.button-shadow:hover::before {
    box-shadow: 0 8px 16px rgba(131, 139, 255, 0.4);
}

.button-blue .button-shadow::before {
    box-shadow: 0 4px 16px rgba(131, 139, 255, 0.25);
}

.button-blue .button-shadow:hover::before {
    box-shadow: 0 4px 16px rgba(131, 139, 255, 0.4);
}

.button-red {
    background: #ff796a;
    background: linear-gradient(65deg, #FF9083 0, #FF6250 100%);
}

.button-red:hover {
    background: #ff7e6f;
    background: linear-gradient(65deg, #ff9588 0, #ff6755 100%);
}

.button-red.button-shadow::before {
    box-shadow: 0 8px 16px rgba(255, 144, 131, 0.25);
}

.button-red.button-shadow:hover::before {
    box-shadow: 0 8px 16px rgba(255, 144, 131, 0.4);
}

.button-red .button-shadow::before {
    box-shadow: 0 4px 16px rgba(255, 144, 131, 0.25);
}

.button-red .button-shadow:hover::before {
    box-shadow: 0 4px 16px rgba(255, 144, 131, 0.4);
}

.button-purple {
    background: #756af8;
    background: linear-gradient(65deg, #5E52F6 0, #8B82F9 100%);
}

.button-purple:hover {
    background: #7a6ff8;
    background: linear-gradient(65deg, #6357f6 0, #9087f9 100%);
}

.button-purple.button-shadow::before {
    box-shadow: 0 8px 16px rgba(199, 131, 255, 0.25);
}

.button-purple.button-shadow:hover::before {
    box-shadow: 0 8px 16px rgba(199, 131, 255, 0.4);
}

.button-purple .button-shadow::before {
    box-shadow: 0 4px 16px rgba(199, 131, 255, 0.25);
}

.button-purple .button-shadow:hover::before {
    box-shadow: 0 4px 16px rgba(199, 131, 255, 0.4);
}

.button-green {    
    background: #00b9d2;
    background: linear-gradient(65deg, #00A2B8 -25%, #00CFEB 100%);
}

.button-green:hover {
    background: #00bbd5;
    background: linear-gradient(65deg, #00a4bb -25%, #00d1ee 100%);
}

.button-green.button-shadow::before {
    box-shadow: 0 8px 16px rgba(131, 236, 255, 0.25);
}

.button-green.button-shadow:hover::before {
    box-shadow: 0 8px 16px rgba(131, 236, 255, 0.4);
}

.button-green .button-shadow::before {
    box-shadow: 0 4px 16px rgba(131, 236, 255, 0.25);
}

.button-green .button-shadow:hover::before {
    box-shadow: 0 4px 16px rgba(131, 236, 255, 0.4);
}

.button-black {    
    background: #272829;
    background: linear-gradient(65deg, #232526 -25%, #414345 100%);
}

.button-black:hover {
    background: #464747;
    background: linear-gradient(65deg, #212325 -25%, #434547 100%);
}

.button-black.button-shadow::before {
    box-shadow: 0 8px 16px rgba(133, 132, 132, 0.25);
}

.button-black.button-shadow:hover::before {
    box-shadow: 0 8px 16px rgba(133, 132, 132, 0.4);
}

.button-black .button-shadow::before {
    box-shadow: 0 4px 16px rgba(133, 132, 132, 0.25);
}

.button-black .button-shadow:hover::before {
    box-shadow: 0 4px 16px rgba(133, 132, 132, 0.4);
}
